.hero{
    height: 90vh;
    background-image: url(/Asset/Image/wave.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
   
   

    

    
}